@using KP.WebApi
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    @*<script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="~/Styles/jquery-ui.css">
    <link rel="stylesheet" href="~/Styles/bootstrap.min.css">
    <script src="~/Scripts/bootstrap.min.js"></script>*@
</head>
<body>
<div >
    <a href='@ResolveUrl("~/Person/ViewPerson/68936488")'>Сотрудник</a>
</div>
</body>
</html>